<header>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Open menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['']">Home</button>
            <button mat-menu-item [routerLink]="['/todos']">Todos</button>
            <button mat-menu-item [routerLink]="['/todoGrid']">Todos Grid</button>
        </mat-menu>
        <span class="flex-expand"></span>
        <button mat-icon-button *ngIf="!basicAuthenticationService.isUserLoggedIn()" [routerLink]="['/login']"
            matTooltip="Login">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button *ngIf="basicAuthenticationService.isUserLoggedIn()" [routerLink]="['/logout']"
            matTooltip="Logout">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</header>